* {
    font-family: 'Inter', sans-serif;
    color: hsl(236, 13%, 42%);
}



body {
    background-color: hsl(36, 100%, 99%);
    margin: 0;
    box-sizing: border-box;
    /* position: relative; */
}



/*Use grid for the big container aka 'content' */

#content {
    display: grid;
    grid-template-columns: 73% auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "nav nav"
    "main aside"
    "footer footer";
    margin: 100px;
}


/*use flex for nav items*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(36, 100%, 99%);
    grid-area: nav;
    margin-bottom: 40px;
    margin-top: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin-right: 2em;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: hsl(7, 87%, 65%);
}

nav .logo {
    /* height: 7vh; */
    height: clamp(3rem, 5vh, 5rem);
}

nav .menu {
    display: none;
}

#side-menu {
    display: none;
}


/*main part*/

#main-part {
    margin-right: 30px;
    background-color: hsl(36, 100%, 99%);
    grid-area: main;
    margin-bottom: 40px;
    position: relative;
}

.big-image-desktop {
    grid-area: head-image;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

.big-image-mobile {
    display: none;
}


/*for main's text-wrap container use grid*/

.text-wrap {
    grid-area: main-text;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "inner-header inner-text";
}

.text-wrap h1 {
    grid-area: inner-header;
    /* font-size: 55px; */
    font-size: clamp(3rem, 2.5vw, 5rem);
    margin: 0;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}

.text-wrap .wrap-p-button {
    grid-area: inner-text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    padding: 0 50px; 

}

.text-wrap .wrap-p-button .main-text {
    /* font-size: 18px; */
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
}

button {
    width: clamp(10rem, 2.5vw, 17rem);
    height: clamp(2.5rem, 2.5vh, 5rem);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: clamp(0.2rem, 0.5vw, 0.3rem);
    position: absolute;
    bottom: 0;
    background-color: hsl(7, 87%, 65%);
    color: hsl(36, 100%, 99%);
}

button:hover {
    background-color: hsl(240, 100%, 5%);
}


/*aside part*/

#new-section-items {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: hsl(240, 100%, 5%);
    grid-area: aside;

}

#new-section-items h2 {
    font-size: 40px;
    margin: 0;
    color: rgb(211, 174, 61);
}

#new-section-items h4 {
    font-size: 18px;
    color: hsl(36, 100%, 99%);

}

#new-section-items h4:hover {
    color: rgb(211, 174, 61);
}

#new-section-items p {
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    line-height: 1.5;
    color: hsl(233, 8%, 79%);;
}

.border {
    height: 1px;
    background-color: hsl(36, 100%, 99%);
}

/*footer part*/

#number-sections {
    background-color: hsl(36, 100%, 99%);
    grid-area: footer;
    display: flex;
}

#number-sections .number-wrapper {
    display: flex;
}

.number-wrapper .wrapper * {
    margin: 0;
    padding-left: 10px;
}

.number-wrapper .wrapper h3 {
    font-size: clamp(2rem, 2.5vw, 4rem);
    color: hsl(233, 8%, 79%);
}

.number-wrapper .wrapper h4 {
    margin-top: 8px;
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);;
    color: hsl(240, 100%, 5%);
}

.number-wrapper .wrapper h4:hover {
    color: hsl(7, 87%, 65%);
}

.number-wrapper .wrapper p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 23px;
    line-height: 1.5;
    padding-right: 60px;
}

.small-pic {
    width: clamp(5rem, 8vw, 10rem);;
    margin-bottom: 0;
}


/* For Mobile
- change content's grid areas to make a single column with multiple rows
-hide the nav part
-add side menu
*/

@media only screen and (min-width: 280px) and (max-width: 950px) {

    nav ul {
        display: none;
    }
    #content {
        display: flex;
        flex-direction: column;
        margin: 20px 40px;
        position: relative;
    }

    #main-part {
        margin-right: 0;
    }

    .big-image-desktop {
        display: none;
    }

    .big-image-mobile {
        display: block;
        width: -moz-available;
        width: -webkit-fill-available;
    }

    .text-wrap .wrap-p-button p {
        font-size: 12px;
    }

    .text-wrap {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .text-wrap h1 {
        font-size: 35px;
    }

    .text-wrap .wrap-p-button {
        padding: 0;
    }

    .text-wrap .wrap-p-button .main-text  {
        font-size: 0.8em;
    }

    #number-sections {
        flex-direction: column;
    }
    #number-sections h3 {
        font-size: 1.5rem;
    }
    #number-sections .number-wrapper {
        margin-top: 10px;
    }
    #number-sections .number-wrapper:first-child {
        margin-top: 0;
    }

    .number-wrapper .wrapper p {
        margin-top: 0.3rem;
        font-size: 12px;
        padding-right: 0;
    }

    .small-pic {
        margin-right: 10px;
    }

    /*menu icon*/
    nav .menu {
        display: block;
        height: 1.3rem;
    }

    #side-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 40%;
        top: 0;
        right: 0;
        background-color: hsl(36, 100%, 99%);
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 2;
        padding: 6rem 1.5rem;
        display: none;
        z-index: 2;
    }

    #side-menu .close-icon {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 1.5rem;
        margin-top: 1.5rem;
    }

    #side-menu a {
        text-decoration: none;
        margin-right: 5rem;
        margin-top: 1.5rem;
        font-size: clamp(1.3rem, 2.5vw, 3rem);
        color: black;
    }

    #side-menu a:hover {
        color: hsl(7, 87%, 65%);
    }

    #dark-layer {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(50, 47, 47, 0.5);
        z-index: 1;
        top: 0;
        right: 0;
        display: none;
    }

    button {
        position: relative;
        margin-top: 1rem;
    }
}



